

# Make sure .java files are counted as Java
*.java linguist-detectable=true
*.java linguist-language=Java

# Optional: Mark Spring config/resources as Java too
*.xml linguist-language=Java
*.properties linguist-language=Java
