# ✅ Force GitHub Linguist to count everything as Java
*.js linguist-vendored
*.jsx linguist-vendored
*.ts linguist-vendored
*.tsx linguist-vendored
*.json linguist-vendored
*.css linguist-vendored
*.html linguist-vendored

# Optional: agar frontend pura ignore karna hai
client/* linguist-vendored
frontend/* linguist-vendored
